# IDE
.vscode
.idea

# build dirs
rootfs/
tmp/

# artefacts
packages/binaries
packages/deb
packages/drivers
packages/sitemanager
packages/tarballs

rootfs*.img
rootfs*.tar.*
*.bin
*.bak
*.deb
*.deb.*
*.img

# IDE
.vscode
.idea
